@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  max-width: 1140px;
  min-height: 95vh;
  margin: 0 auto;
  width: 100%;
}

.page.mh-auto {
  min-height: auto;
}

a {
  @apply text-link;
  @apply transition;
  @apply duration-300;
  @apply ease-in-out;
}

a:hover {
  @apply text-pink-50;
}

@responsive {
  .w-p-30 {
    width: 30%;
  }
}
