@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  .page {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
  }

  html {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  a {
    @apply text-link;
    @apply transition;
    @apply duration-300;
    @apply ease-in-out;
  }

  a:not(.sk-button):hover {
    @apply text-pink-50;
  }

  @responsive {
    .w-p-30 {
      width: 30%;
    }
  }
}
