@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Roboto-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/Roboto-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url(./assets/fonts/Roboto-Bold.woff2) format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  font-display: block;
  font-family: Roboto, Helvetica;
  -webkit-font-smoothing: antialiased;
  letter-spacing: normal;
  line-height: 24px;
  text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.animated-svg-path {
  animation: animateDash 5s linear forwards infinite;
  stroke: rgba(0, 0, 0, 0.75);
}

@keyframes animateDash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes slideUp {
  0% {
    top: 100%;
  }

  10%,
  100% {
    top: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#blog-content {
  line-height: 1.5;
  letter-spacing: normal;
}

#blog-content h1 {
  margin-top: 0;
}

#blog-content h2 {
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

#blog-content img {
  display: block;
  max-width: calc(100% - 4rem);
  margin: auto;
}

#blog-content .img-wrapper {
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#blog-content table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#blog-content table th {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.025);
}

#blog-content table td {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.025);
  padding: 1rem;
}

#blog-content table td:first-of-type {
  width: 1%;
  white-space: nowrap;
}

#blog-content a {
  color: #e2ae5a;
  text-decoration: none;
}

#blog-content a:hover {
  text-decoration: underline;
}

#blog-content code,
#blog-content pre {
  max-width: calc(100vw - 2rem);
  overflow-x: auto;
  font-size: 0.8rem;
}

#blog-content li code {
  word-break: break-all;
  white-space: break-spaces;
  word-wrap: break-word;
}

#blog-content .blog-alert {
  background-color: rgb(255, 0, 248, 0.25);
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

#blog-content .blog-alert p {
  margin: 0;
  margin-left: 0.5rem;
}

/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+go */
code[class*='language-'],
pre[class*='language-'] {
  color: #ccc;
  font-family: monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  font-size: 1rem;
}

pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: rgba(0, 0, 0, 0.5);
}

code {
  font-size: inherit;
  color: #67cdcc;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.function,
.token.number {
  color: #f08d49;
}

.token.class-name,
.token.constant,
.token.property,
.token.symbol {
  color: #f8c555;
}

.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
  color: #cc99cd;
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: #7ec699;
}

.token.entity,
.token.operator,
.token.url {
  color: #67cdcc;
}
.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
